@charset "UTF-8";

body
{
	background-color: #000;
}

.hidden
{
	display: none;
}

#container
{
	margin: 0 auto;
	width: auto;

}

h2
{
	text-align: center;
	font-size: 48px;
	font-family: 'Permanent Marker', cursive;
	margin-top: 30px;
	color: #fff;
}

#panel
{
	
	padding-top:30px;
	height: 700px;
	text-align: center;
		vertical-align: middle;
}

#panel img
{
	width: 100%;
}

#dragElement
{
	display: flex;
	flex-direction: row;
	text-align: center;
		display: table-cell;
		vertical-align: middle;

}

#dragElement img
{
	width: 5%;
	/*height: 3%;*/
	padding: 20px;
}